@mixin setTextStyle($size, $weight, $color)
  font-size: $size
  font-weight: $weight
  color: $color

@mixin bgImgSetting($size:cover)
  background-size: $size
  background-position: center

@mixin limitRow($maxHeight, $row)
  display: -webkit-box
  min-height: $maxHeight
  overflow: hidden
  text-overflow: ellipsis
  -webkit-line-clamp: $row
  -webkit-box-orient: vertical
