body 
  font-family: 'Noto Sans TC', sans-serif
  color: #333

h1, h2, h3, h4, h5 
  margin: 0

h1 
  font-size: 2rem
h2 
  font-size: 1.875rem
h3 
  font-size: 1.5rem
h4 
  font-size: 1.25rem
h5 
  font-size: 1.125rem

.main_c 
  color: $main_c 
.second_c 
  color: $second_c 
.success_c 
  color: $success_c 
.danger_c 
  color: $danger_c 
.info_c 
  color: $info_c 
.underline 
  text-decoration: underline

.flex 
  display: flex
  &.column 
    flex-direction: column 
  &.v-center 
    align-items: center 
  &.h-center 
    justify-content: center 
  &.h-end 
    justify-content: flex-end
  
.grid 
  display: grid
  &.v-center 
    align-items: center

.fw-600 
  font-weight: 600

.pointer 
  cursor: pointer 

.event-none 
  pointer-events: none

.gc-form 
  display: grid 
  grid-gap: 1rem
    
