body 
  font-family: 'Noto Sans TC', sans-serif
  color: #333

h1, h2, h3, h4, h5 
  margin: 0
  font-weight: 500

h1 
  font-size: 2rem
h2 
  font-size: 1.875rem
h3 
  font-size: 1.5rem
h4 
  font-size: 1.25rem
h5 
  font-size: 1.125rem

a 
  text-decoration: none 
  color: inherit

.main_c 
  color: $main_c 
.second_c 
  color: $second_c 
.success_c 
  color: $success_c 
.danger_c 
  color: $danger_c 
.info_c 
  color: $info_c 
.underline 
  text-decoration: underline

.flex 
  display: flex
  &.column 
    flex-direction: column 
  &.v-center 
    align-items: center 
  &.baseline
    align-items: baseline 
  &.h-center 
    justify-content: center 
  &.h-end 
    justify-content: flex-end
  &.between 
    justify-content: space-between
  
.grid 
  display: grid
  &.v-center 
    align-items: center
  &.h-center 
    justify-items: center
 

.fw-500 
  font-weight: 500

.pointer 
  cursor: pointer 

.event-none 
  pointer-events: none

.gc-link 
  text-decoration: underline 
  color: $main_c

.gc-form 
  display: grid 
  grid-gap: 1rem
  &.col-2 
    grid-template-columns: 1fr 1fr

.gc-tips
  display: flex
  align-items: baseline
  font-size: .875rem
  i 
    margin-right: .25rem 
    color: $main_c

.gc-textarea 
  width: 100%
  -webkit-appearance: none
  background-image: none
  background-color: #FFF
  border-radius: 4px
  border: 1px solid #ccc
  color: #606266
  display: inline-block
  font-size: inherit
  padding: .75rem
  transition: border-color .2s cubic-bezier(.645,.045,.355,1)
  resize: none
  &:focus
    border: 1px solid $main_c


    
